<section class="pt-5">
        <footer>
            <!-- Copyrights -->
            <div class="container-fluid" id="min-footer"></div>
            <div style="background-color: #FECA3E;">
                <div class="container pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-dark float-left">Copyright © 2020 Busitema University</p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-dark float-right">All rights reserved by Busitema University.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>