    {% load static %}
    <!-- NAVIGATION -->
    <div class="container-fluid" id="nav-section-1"></div>
        <div class="container-fluid sticky-top" id="nav-section-2">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <nav class="navbar navbar-expand-sm">
                        <a href="#" class="navbar-brand font-weight-bold">
                            <img src="{% static 'img/folder/logo.png' %}?version=1" height="85" alt="Busitema Logo">
                        </a>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-item nav-link btn btn-primary" href="#" style="background-color: #1e73be;">University Website</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
         <!-- DIRECTORATE OF HUMAN RESOURCE -->
    <section class="hero-wrap hero-wrap-2" style="background: url({% static 'img/Job.png' %})" data-stellar-background-ratio="0">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center text-down">
                    <h1>Directorate of Human Resource</h1>
                    <h4>Job application</h4>
                </div>
            </div>
        </div>
    </section>
